In [34]:
import sqlite3
conn = sqlite3.connect("AQI.db")
with conn:
    sql = '''
    CREATE TABLE IF NOT EXISTS records (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        sitename TEXT NOT NULL,
        county TEXT,
        aqi INTEGER,
        status TEXT,
        pm25 NUMERIC,
        date TEXT,
        lat NUMERIC,
        lon NUMERIC,
        UNIQUE(sitename,date)
    );
    '''
    cursor = conn.cursor()
    cursor.execute(sql)

In [35]:
import requests

url = 'https://data.moenv.gov.tw/api/v2/aqx_p_488?api_key=e8dd42e6-9b8b-43f8-991e-b3dee723a52d&limit=1000&sort=datacreationdate%20desc&format=JSON'
try:
    response = requests.get(url)
    response.raise_for_status()
    data = response.json()
except Exception as e:
    print(e)
else:
    sitenames = set()
    for items in data['records']:
        sitenames.add(items['sitename'])

    sitenames = list(sitenames)
print(sitenames)
print(sitenames)

['前金', '龍潭', '新竹', '鳳山', '林口', '大同', '斗六', '平鎮', '苗栗', '花蓮', '宜蘭', '淡水', '仁武', '中壢', '林園', '新店', '大園', '二林', '大寮', '竹山', '宜蘭（頭城）', '臺南', '馬祖', '新莊', '嘉義', '新營', '南投', '臺南（麻豆）', '臺西', '馬公', '金門', '崙背', '桃園', '萬里', '富貴角', '關山', '橋頭', '美濃', '潮州', '竹東', '大城', '埔里', '彰化', '前鎮', '安南', '屏東（琉球）', '基隆', '新港', '湖口', '左營', '朴子', '新北(樹林)', '小港', '菜寮', '中山', '沙鹿', '麥寮', '臺東', '高雄（湖內）', '汐止', '觀音', '三義', '屏東(枋山)', '萬華', '彰化（員林）', '楠梓', '善化', '板橋', '頭份', '線西', '豐原', '恆春', '屏東', '土城', '士林', '忠明', '三重', '冬山', '松山', '永和', '西屯', '大里', '古亭', '復興', '陽明']
['前金', '龍潭', '新竹', '鳳山', '林口', '大同', '斗六', '平鎮', '苗栗', '花蓮', '宜蘭', '淡水', '仁武', '中壢', '林園', '新店', '大園', '二林', '大寮', '竹山', '宜蘭（頭城）', '臺南', '馬祖', '新莊', '嘉義', '新營', '南投', '臺南（麻豆）', '臺西', '馬公', '金門', '崙背', '桃園', '萬里', '富貴角', '關山', '橋頭', '美濃', '潮州', '竹東', '大城', '埔里', '彰化', '前鎮', '安南', '屏東（琉球）', '基隆', '新港', '湖口', '左營', '朴子', '新北(樹林)', '小港', '菜寮', '中山', '沙鹿', '麥寮', '臺東', '高雄（湖內）', '汐止', '觀音', '三義', '屏東(枋山)', '萬華', '彰化（員林）', '楠梓', '善化', '板橋', '頭份', '線西', '豐原', '恆春', '屏東', '土城', '士林', '忠明', '三重', '冬山', '松山', '永和', '西屯', '大里', '古亭', '復興', '陽明']

In [36]:
import datasource
datasource.get_selected_data(sitename='屏東(枋山)')

[['2024-11-04 13:00', '屏東縣', '43', '21', '良好', '22.260899', '120.651472'],
 ['2024-11-04 13:00', '屏東縣', '43', '21', '良好', '22.260899', '120.651472'],
 ['2024-11-04 12:00', '屏東縣', '39', '17', '良好', '22.260899', '120.651472'],
 ['2024-11-04 12:00', '屏東縣', '39', '17', '良好', '22.260899', '120.651472'],
 ['2024-11-04 11:00', '屏東縣', '35', '8', '良好', '22.260899', '120.651472'],
 ['2024-11-04 11:00', '屏東縣', '35', '8', '良好', '22.260899', '120.651472'],
 ['2024-11-04 10:00', '屏東縣', '34', '18', '良好', '22.260899', '120.651472'],
 ['2024-11-04 10:00', '屏東縣', '34', '18', '良好', '22.260899', '120.651472'],
 ['2024-11-04 09:00', '屏東縣', '32', '5', '良好', '22.260899', '120.651472'],
 ['2024-11-04 09:00', '屏東縣', '32', '5', '良好', '22.260899', '120.651472'],
 ['2024-11-04 08:00', '屏東縣', '33', '6', '良好', '22.260899', '120.651472'],
 ['2024-11-04 08:00', '屏東縣', '33', '6', '良好', '22.260899', '120.651472']]

In [37]:
import sqlite3
conn = sqlite3.connect("AQI.db")
with conn:
    sql = '''INSERT OR IGNORE INTO records(sitename,county,aqi,status,pm25,date,lat,lon)
    values ('屏東(枋山)','屏東縣', 34, '良好',18,'2024-11-04 10:00', 22.260899, 120.651472);
    '''
    cursor = conn.cursor()
    cursor.execute(sql)

OperationalError: database is locked

In [38]:
import sqlite3
conn = sqlite3.connect("AQI.db")
url = 'https://data.moenv.gov.tw/api/v2/aqx_p_488?api_key=e8dd42e6-9b8b-43f8-991e-b3dee723a52d&limit=1000&sort=datacreationdate%20desc&format=JSON'
try:
    response = requests.get(url)
    response.raise_for_status()
    data = response.json()
except Exception as e:
    print(e)
else:
    sitenames = set()
    with conn:
        cursor = conn.cursor()
        for items in data['records']:
            sitename = items['sitename']
            county = items['county']
            aqi = int(items['aqi']) if items['aqi'] != '' else 0
            status = items['status']
            pm25 = float(items['pm2.5']) if items['pm2.5'] != '' else 0.0
            date = items['datacreationdate']
            lon = float(items['longitude']) if items['longitude'] != '' else 0.0
            lat = float(items['latitude']) if items['latitude'] != '' else 0.0
            sql = '''INSERT OR IGNORE INTO records(sitename,county,aqi,status,pm25,date,lat,lon)
                    values (?,?, ?, ?,?,?,?,?);
            '''
            cursor.execute(sql,(sitename, county, aqi, status,pm25,date,lat,lon))

OperationalError: database is locked

In [39]:
conn = sqlite3.connect("AQI.db")
with conn:
    cursor = conn.cursor()
    sql = '''
    SELECT DISTINCT sitename
    FROM records
    '''
    cursor.execute(sql)
    sitenames = []

    for items in cursor.fetchall():
        sitenames.append(items[0])
    
    print(sitenames)

['三義', '三重', '中壢', '中山', '二林', '仁武', '冬山', '前金', '前鎮', '南投', '古亭', '善化', '嘉義', '土城', '埔里', '基隆', '士林', '大同', '大園', '大城', '大寮', '大里', '安南', '宜蘭', '宜蘭（頭城）', '富貴角', '小港', '屏東', '屏東(枋山)', '屏東（琉球）', '崙背', '左營', '平鎮', '彰化', '彰化（員林）', '復興', '忠明', '恆春', '斗六', '新北(樹林)', '新店', '新港', '新營', '新竹', '新莊', '朴子', '松山', '板橋', '林口', '林園', '桃園', '楠梓', '橋頭', '永和', '汐止', '沙鹿', '淡水', '湖口', '潮州', '竹山', '竹東', '線西', '美濃', '臺南', '臺南（麻豆）', '臺東', '臺西', '花蓮', '苗栗', '菜寮', '萬華', '萬里', '西屯', '觀音', '豐原', '金門', '關山', '陽明', '頭份', '馬公', '馬祖', '高雄（湖內）', '鳳山', '麥寮', '龍潭']

In [40]:
conn = sqlite3.connect("AQI.db")
with conn:
    cursor = conn.cursor()        
    sql = '''
    SELECT date,county,aqi,pm25,status,lat,lon
    FROM records
    WHERE sitename=?
    ORDER BY date DESC;
    '''
    cursor.execute(sql,('富貴角',))
    sitename_list = [list(item) for item in cursor.fetchall()]
    print(sitename_list)

[['2024-11-04 10:00', '新北市', 48, 13, '良好', 25.29681695, 121.53656894], ['2024-11-04 09:00', '新北市', 49, 14, '良好', 25.29681695, 121.53656894], ['2024-11-04 08:00', '新北市', 49, 13, '良好', 25.29681695, 121.53656894], ['2024-11-04 07:00', '新北市', 50, 10, '良好', 25.29681695, 121.53656894], ['2024-11-04 06:00', '新北市', 51, 7, '普通', 25.29681695, 121.53656894], ['2024-11-04 05:00', '新北市', 55, 18, '普通', 25.29681695, 121.53656894]]